<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="keywords" content="Industrial, Diseño, Diseñar, Productos, Creatividad, Originalidad, Convertir, Moldes, Bocetos, Rhinoceros, Keyshot, Animaciones, Render">
        <meta name="description" content="Mi objetivo es capturar una idea y convertirla en un diseño único, creativo y funcional.">
        <title>Victoria Ramos Design - Proyectos</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

        <link rel="stylesheet" href="../assets/css/styles.css">
    </head>
    <body>

        <nav class="navbar navbar-expand-md sticky-top">
                    
            <img class="navbar-brand" alt="Logo Victoria Ramos" src="" />
                
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#miMenu">
                <span class="navbar-toggler-icon"></span>
            </button>


                <div class="collapse navbar-collapse" id="miMenu">

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html">Principal</a>
                        </li>
                    
                        <li class="nav-item">
                            <a class="nav-link" href="./sobre_mi.html">Sobre mí</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link enlace-activo" href="./proyectos.html">Proyectos</a>
                        </li>
                    
                        <li class="nav-item">
                            <a class="nav-link" href="./disenios_realizados.html">Diseños realizados</a>
                        </li>
                    
                        <li class="nav-item">
                            <a class="nav-link" href="./contactarme.html">Contactarme</a>
                        </li>
                    </ul>

                </div>  
        </nav>

        <div class="contenedor_grid_proyectos">

            <div class="contenedor_grid_proyectos__titulo_proyectos">
                <h1 class="contenedor_grid_proyectos__titulo_proyectos__texto_p contenedor_grid_proyectos__titulo_proyectos__texto_p--color">Proyectos</h1>
            </div>
            
            <div class="container2">
                <a href="#"><img src="../img/proyectos/proyecto1/imagen1.jpg" class="image" alt="Imágen Proyecto 1"></a>
                <div class="middle">
                  <div class="text">Proyecto 1</div>
                </div>
            </div>

            <div class="container2">
                <a href="#"><img src="../img/proyectos/proyecto2/imagen1.jpg" class="image" alt="Imágen Proyecto 2"></a>
                <div class="middle">
                  <div class="text">Proyecto 2</div>
                </div>
            </div>

            <div class="container2">
                <a href="#"><img src="../img/proyectos/proyecto3/imagen1.jpg" class="image" alt="Imágen Proyecto 3"></a>
                <div class="middle">
                  <div class="text">Proyecto 3</div>
                </div>
            </div>

            <div class="container2">
                <a href="#"><img src="../img/proyectos/proyecto1/imagen1.jpg" class="image" alt="Imágen Proyecto 4"></a>
                <div class="middle">
                  <div class="text">Proyecto 4</div>
                </div>
            </div>

            <div class="container2">
                <a href="#"><img src="../img/proyectos/proyecto2/imagen1.jpg" class="image" alt="Imágen Proyecto 5"></a>
                <div class="middle">
                  <div class="text">Proyecto 5</div>
                </div>
            </div>

            <div class="container2">
                <a href="#"><img src="../img/proyectos/proyecto3/imagen1.jpg" class="image" alt="Imágen Proyecto 6"></a>
                <div class="middle">
                  <div class="text">Proyecto 6</div>
                </div>
            </div>
  
        </div>
        
        <footer>

            <div id="redes_sociales">
                <ul>
                    <li><a href=""><img src="../img/whatsapp.png" alt="Ir a Whatsapp"></a></li>
                    <li><a href=""><img src="../img/facebook.png" alt="Ir a Facebook"></a></li>
                    <li><a href=""><img src="../img/instagram.png" alt="Ir a Instagram"></a></li>
                    <li><a href=""><img src="../img/linkedin2.png" alt="Ir a Linkedín"></a></li>
                </ul>
            </div>
        
            <div id="copyright">
                <p>Victoria Ramos. Todos los derechos reservados.</p>
            </div>
                
        </footer>

    </body>
    <!-- Bootstrap JS - Jquery JS - Popper JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</html>